HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### application files ###
application.yml
application-secret.yml
src/main/resources/application-secret.yml
src/test/resources/application.properties
src/test/resources/schema.sql

### Mac OS ###
.DS_Store

# Q클래스 생성 디렉토리
/src/main/generated/**
/src/main/resources/data.sql

# GEMINI 관련 파일
GEMINI.md

# postgres 데이터 디렉토리
postgres_data/

# 환경변수
.env

# 시스템 프롬포트
/src/main/resources/prompts/system-prompt.st

# csv 파일
/src/main/resources/products.csv